<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ronda.rondacajamarcaapp">

    <!-- PERMISOS -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Ubicación -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Cámara -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!-- Almacenamiento (solo necesario para Android < 13) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Android 13+ (API 33): Imágenes -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Notificaciones (Firebase Cloud Messaging) -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- INTERNET (OBLIGATORIO para Firebase, Maps, etc.) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_rondas"
        android:label="Ronda Cajamarca"
        android:roundIcon="@drawable/icon_rondas"
        android:supportsRtl="true"
        android:theme="@style/Theme.RondaCajamarcaApp">

        <!-- GOOGLE MAPS API KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCZfNydaI1OJaU_uEEF3Xx0ZTI0UW6FHSw" />

        <!-- FILE PROVIDER (para compartir fotos tomadas con la cámara) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.RondaCajamarcaApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>